@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: var(--tgui--secondary_bg_color);
}

.common-styles {
  @apply flex p-2 border-2 border-blue-200; /* Using Tailwind's @apply directive */
}


.modal-pop {
  animation: popIn 0.07s ease-out forwards;
}

@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
