@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: var(--tgui--secondary_bg_color);
}

.common-styles {
  @apply flex p-2 border-2 border-blue-200; /* Using Tailwind's @apply directive */
}


.modal-pop {
  animation: popIn 0.08s ease-in forwards;
}

@keyframes popIn {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.scrollable {
  overflow-y: auto; /* Enable vertical scrolling */
  border: 1px solid #ccc; /* Optional border for visibility */
  padding: 10px; /* Add some padding for content */
  scrollbar-width: thin; /* For Firefox: thin scrollbar */
  scrollbar-color: var(--tgui--section_header_text_color) var(--tgui--secondary_bg_color); /* For Firefox: thumb and track color */
}

/* Webkit Browsers (Chrome, Edge, Safari) */
.scrollable::-webkit-scrollbar {
  width: 8px; /* Width of scrollbar */
}

.scrollable::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, var(--tgui--section_header_text_color), var(--tgui--secondary_bg_color)); /* Gradient thumb */
  border-radius: 4px; /* Rounded corners */
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: var(--tgui--section_header_text_color); /* Darker thumb on hover */
}

.scrollable::-webkit-scrollbar-track {
  background: var(--tgui--secondary_bg_color); /* Track background */
  border-radius: 4px; /* Rounded track corners */
}

